keys.txt
tareas/t3/data
tareas/tarea 01/data
tareas/tarea 01/clases
tareas/tarea 01/bgg_GameNamedItemas.csv
tareas/tarea_2/__pycache__
tareas/tarea_2/data
tareas/tarea_2/mapa
tareas/tarea_2/avistamientos_chile.csv
proyecto
desafíos/Desafíos clase 3/data
desafíos/Desafíos clase 3/.ipynb_checkpoints
apuntes/OneDrive_2025-11-03.zip
apuntes/I1
actividades/actividad 01/Censo2017_Manzanas.csv
actividades/actividad 01/R13
actividades/actividad 01/.ipynb_checkpoints
actividades/actividad 05/data2025
tareas/t4/Himalayan+Expeditions